@page "/"
@inject IJSRuntime js
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@using ModelClass
@using DB

<div class="m-2">
    <span class="h1">Artists</span>
    @if (list == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table >
            <thead >
                <tr>
                    <th scope="col">Artist Name</th>
                    <th scope="col">Artist birthday</th>
                </tr>
            </thead>
            <tbody>
                @foreach (artist item in list)
                {
                    <tr>
                        <td><a class="" href="details/@item.artistID.ToString()"> @item.Name</a></td>
                        <td>@item.Birthday</td>
                        <td>
                            <a class="btn btn-success" href="artistEdit/@item.artistID.ToString()">Edit</a>
                            <button class="btn btn-danger" @onclick="@(() => Delete(@item.artistID))">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


@code {
    List<artist> list;
    artist a;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var artistSession = await MySession.GetAsync<artist>("artistSession");
        if (artistSession.Success)
        {
            a = artistSession.Value;
            if ((artistSession.Value.Name != "admin"))
                navigationManager.NavigateTo($"/details/{((artist)(artistSession.Value)).artistID}");
        }
        else
            navigationManager.NavigateTo("login");

        ArtisiDB ArtisiDB = new ArtisiDB();
        list = (List<artist>)ArtisiDB.SelectAll();
        StateHasChanged();
    }
    async Task Delete(int id)
    {
        ArtisiDB ArtisiDB = new ArtisiDB();
        artist artist = (artist)ArtisiDB.GetRowByPK(id);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete {artist.Name}'s Record?"))
        {
            ArtisiDB.Delete(artist);
            OnInitialized();
        }
    }
}

